.mb-0 {
    padding: 5px 100px;
    color: blueviolet;
}

.add-btn {
    margin: 20px 10px 20px 100px;
}

.table-container {
    margin: 10px 100px 10px 100px;
    max-width: 100%;
    overflow-x: auto;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 100px 10px 100px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.redirect-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.delete-button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

/* Add a hover effect */
.delete-button:hover {
    background-color: #c0392b;
}

.content-container {
    margin: 10px 100px 10px 100px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.action-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a hover effect for the button */
.action-button:hover {
    background-color: #2980b9;
}

.deleteProject{
    position: absolute;
    top: 400px;
    right: 10px;
}